<div class="epro--header">
  <div class="epro-logo">
    <!-- logo -->
    epro
  </div>
  <div class="epro--header-nav">
    <!-- Top Menu -->
    <app-top-menu></app-top-menu>
    <div class="epro--bottom--bar">
      <!-- main Menu -->
      <app-main-menu></app-main-menu>
      <div class="epro--search-bar">
        <input type="text" class="epro-search-box" placeholder="Search" />
        <button class="epro--search--btn">
          <i class="fa fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
