<div class="epro--header">
    <div class="epro-logo">
<!-- logo -->
 epro
    </div>
    <div class="epro--header-nav">
        <div class="epro--top--bar">
            <a href="#">Help</a>        
            <a href="#">Exchange & Returns</a>        
            <a href="#">Order Tracker</a>        
            <a href="#">SignUp / Login</a>        
        </div>
        <div class="epro--bottom--bar">
            <div class="epro-menu">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="epro--search-bar">
                <input type="text" class="epro-search-box" placeholder="Search">
                <button class="epro--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>    
        </div>
    </div>
</div>