.epro-menu{
    padding-top: 2vh;
    padding: 1vh 1vh;
    color: rgb(180, 155, 122);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    width: 70%;
    text-align: center;
}